on boot

on property:ro.build.product=t6
service kickstart /system/bin/qcks -1 modem_st1 -2 modem_st2 -3 radio_config -4 cdma_record -i /firmware/mdm/image/ -u
    class core
    user root
    oneshot

on property:ro.build.product=t6wl
service kickstart /system/bin/qcks -1 modem_st1 -2 modem_st2 -3 radio_config -4 cdma_record -i /firmware/mdm/image/
    class core
    user root
    oneshot

on property:ro.build.product=t6whl
service kickstart /system/bin/qcks -1 modem_st1 -2 modem_st2 -3 radio_config -4 cdma_record -i /firmware/mdm/image/
    class core
    user root
    oneshot

on property:ro.build.product=t6dug
service kickstart /system/bin/qcks -1 modem_st1 -2 modem_st2 -3 radio_config -4 cdma_record -i /firmware/mdm/image/ -u
    class core
    user root
    oneshot

on property:ro.build.product=t6dwg
service kickstart /system/bin/qcks -1 modem_st1 -2 modem_st2 -3 radio_config -4 cdma_record -i /firmware/mdm/image/ -u
    class core
    user root
    oneshot

on property:ro.build.product=t6tl
service kickstart /system/bin/qcks -1 modem_st1 -2 modem_st2 -3 radio_config -4 cdma_record -i /firmware/mdm/image/ -u
    class core
    user root
    oneshot

on property:persist.radio.multisim.config=dsds
    start ril-daemon2

on property:persist.radio.multisim.config=dsda
    start ril-daemon2
